.login-image {
  width: 40vw;
  padding-left: 5rem;
  padding-top: 5rem;
  box-sizing: border-box;
}

.user-avatar {
  filter: brightness(40%);
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.user-avatar:hover,
.user-avatar-focus {
  filter: brightness(100%);
  border: 2px solid var(--primary-light);
  border-radius: 50%;
}

.password-icon {
  top: 25px;
  right: 20px;
}

/* important is used to overwrite the mui css properties, will figure out some other way and remove it in further commits */

/* .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--text-primary) !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--primary-dark) !important;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  color: var(--white) !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-dark) !important;
}

.css-4ne2uz-MuiButtonBase-root-MuiIconButton-root {
  color: var(--white) !important;
}

.css-1wc848c-MuiFormHelperText-root {
  color: var(--red) !important;
} */

/* .css-1vhaqj4-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  color: var(--white) !important;
  background-color: var(--submit-btn) !important;
  opacity: 0.5;
}

.css-155d8c9-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  color: var(--white) !important;
  background-color: var(--submit-btn) !important;
  opacity: 0.5;
}

.css-18t5w9h-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  color: var(--submit-btn) !important;
  border: 1px solid var(--submit-btn) !important;
  background-color: var(--white);
  opacity: 0.2;
} */

.css-1x5jdmq {
  color: var(--white);
}

.css-12l42na.Mui-disabled {
  color: var(--white) !important;
  background-color: var(--submit-btn) !important;
  opacity: 0.5;
}

.css-nxzcop.Mui-disabled {
  color: var(--white) !important;
  background-color: var(--submit-btn) !important;
  opacity: 0.5;
}

.css-1cjxj42.Mui-disabled {
  color: var(--submit-btn) !important;
  border: 1px solid var(--submit-btn) !important;
  background-color: var(--white);
  opacity: 0.2;
}
